<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>分页模板</title>
</head>
<body class="hold-transition" >
	<div class="box-footer clearfix no-border" style="text-align: center;" th:fragment="page_pager(page)" th:with="maxButtons=10,floatButtons=5">
	  <ul class="pagination"> 
	  <!-- 上一页 -->
	    <li th:if="${page.list.pageNum == 1}"><span>上一页</span></li> 
	    <li th:if="${page.list.pageNum > 1}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+(page.list.pageNum-1)+')'):#strings.append(page.url,'?pageNum='+(page.list.pageNum-1))}}">上一页</a></li> 
	    <!-- 首页 --> 
	    <li th:if="${page.list.pageNum == 1}" class="active"><span>1</span></li> 
	    <li th:if="${page.list.pageNum > 1}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'(1)'):#strings.append(page.url,'?pageNum='+1)}}">1</a></li> 
	    <th:block th:if="${page.list.pages>2 && page.list.pages<=maxButtons}" th:each="i : ${#numbers.sequence(2,page.list.pages-1)}"> 
	    	<li th:if="${page.list.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li> 
	    	<li th:if="${page.list.pageNum != i}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+i+')'):#strings.append(page.url,'?pageNum='+i)}}" th:text="${i}">页码</a></li> 
	    </th:block> 
	    <th:block th:if="${page.list.pages > maxButtons}"> 
		    <th:block th:if="${(page.list.pageNum-(floatButtons/2)) <= 2}" th:each="i : ${#numbers.sequence(2,2+floatButtons-1)}"> 
		    	<li th:if="${page.list.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li> 
		    	<li th:if="${page.list.pageNum != i}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+i+')'):#strings.append(page.url,'?pageNum='+i)}}" th:text="${i}">页码</a></li> 
		    </th:block> <!-- ... --> 
		    <li th:if="${(page.list.pageNum-(floatButtons/2))>2}"><span>...</span></li> 
		    <th:block th:if="${((page.list.pageNum-(floatButtons/2))>2) && ((page.list.pageNum+(floatButtons/2)-(floatButtons%2==0?1:0)) < (page.list.pages-1))}"
	                          th:each="i : ${#numbers.sequence(page.list.pageNum-(floatButtons/2),page.list.pageNum+(floatButtons/2)-(floatButtons%2==0?1:0))}"> 
	           <li th:if="${page.list.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li> 
	           <li th:if="${page.list.pageNum != i}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+i+')'):#strings.append(page.url,'?pageNum='+i)}}" th:text="${i}">页码</a></li> 
	        </th:block> 
	        <!-- ... --> 
	        <li th:if="${(page.list.pageNum+(floatButtons/2)-(floatButtons%2==0?1:0)) < (page.list.pages-1)}"><span>...</span></li> 
	        <th:block th:if="${(page.list.pageNum+(floatButtons/2)-(floatButtons%2==0?1:0)) >= (page.list.pages-1)}" th:each="i : ${#numbers.sequence(page.list.pages-floatButtons,page.list.pages-1)}"> 
	             <li th:if="${page.list.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li> 
	             <li th:if="${page.list.pageNum != i}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+i+')'):#strings.append(page.url,'?pageNum='+i)}}" th:text="${i}">页码</a></li> 
	         </th:block> 
         </th:block> 
         <!-- 最后一页 --> 
         <li th:if="${page.list.pages>1 && page.list.pageNum == page.list.pages}" class="active"><span th:text="${page.list.pages}">页码</span></li> 
         <li th:if="${page.list.pages>1 && page.list.pageNum != page.list.pages}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+page.list.pages+')'):#strings.append(page.url,'?pageNum='+page.list.pages)}}" th:text="${page.list.pages}">页码</a></li> 
         <!-- 下一页 --> 
         <li th:if="${page.list.pageNum == page.list.pages && page.list.pages!=0}"><span>下一页</span></li> 
         <li th:if="${page.list.pageNum < page.list.pages}"><a th:href="@{${#strings.containsIgnoreCase(page.url,'javascript:')?#strings.append(page.url,'('+(page.list.pageNum+1)+')'):#strings.append(page.url,'?pageNum='+(page.list.pageNum+1))}}">下一页</a></li> 
       </ul> 
    </div>
</body>
</html>
